<h1>{{title}}</h1>
<form action="/imagen" method="post" enctype="multipart/form-data">
  <label>Imagen</label>
  <input type="file" name="imagen" required />

  <label>Posicion</label>
  <input type="text" name="posicion" required />

  <div class="button-wrapper">
    <button type="submit">Enviar</button>
  </div>
</form>